<!DOCTYPE html>
<html lang="en">
<head>
    <title>VueJS - Guia completo</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>

</head>
<body>

    <div id="app">
        <h1>Produtos</h1>
        <ul>
            <li v-for="valor in produto">
                {{ valor }}
            </li>
        </ul>
        <ul>
            <li v-for="(valor, key) in produto">
                {{ key }} :: {{ valor }} 
            </li>
        </ul>
        <ul>
            <li v-for="(valor, key, index) in produto">
                {{ index }} :: {{ key }} :: {{ valor }} 
            </li>
        </ul>
    </div>
            
        
</body>

    <script type="text/javascript">
    
        new Vue({
            el: '#app',
            data: {

                produto: {
                    id: 1,
                    nome: 'Teclado',
                    marca: 'Dell',
                    valor: 100
                }
            }
        });

    </script>
    
</body>
</html>